*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 15px;
}
h1{
    font-size: 2.05rem;
    font-weight: 700;
    color:hsl(210, 10%, 33%);
}
h3{
    font-weight: 600;
    font-size: 2.25rem;
    color: hsl(210, 10%, 33%);
}
.header{
    background-image: url('./images/bg-header-desktop.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.btn-ios{
    background-color: hsl(171, 66%, 44%);
    color:white;
}
.btn-ios:hover{
    cursor: pointer;
    background-color: hsl(171, 66%, 44%);
    color: white;
}

.btn-mac{
    background-color: hsl(233, 100%, 69%);
    color: white;
}
.btn-mac:hover{
    cursor: pointer;
    background-color: hsl(233, 100%, 69%);
    color: white;
}
.footer{
    background-color: hsl(200, 7%, 92%);
}
@media (max-width:800px) {
    .header{
        background: no-repeat cover url('./images/bg-header-mobile.png') ;
    }
    
}